@charset "UTF-8";

.reveal video {
	max-width: 98%;
}
.reveal .video-description p {
	text-align: left;
}
.reveal p.left {
	text-align: left;
}
.reveal p.footnote {
	text-align: left;
	margin-top: 1em;
}
.reveal p.footer {
	margin-top: 1em;
}
.reveal .video-description ul {
	font-size:0.8em;
}
.reveal p.code {
	margin-top:0.5em;
	margin-bottom:0.5em;
}
.reveal pre code {
	padding:1em;
}
.reveal p.code code {
	font-size:0.8em;
}
.reveal small {
	font-size:0.8em;
}
.reveal section img {
	background: none;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.reveal h1 {
	font-size: 2.4em;
}
.reveal h2 small {
	font-size:0.6em;
	margin-bottom: 0;
	line-height: inherit;
}
.reveal p.morespace {
	margin-top:0.75em;
	margin-bottom:0.75em;
}
.reveal pre code {
	max-height: 500px;
}
.reveal .addon-directory-structure iframe {
	width: 95%;
	max-height: 95%;
	min-height: 600px;
	margin: 0;
	overflow: hidden;
}
.reveal .addon-directory-structure img {
	width: 898px;
	height: 381px;
	border: none;
	display: none;
}
.reveal .no-text-transform {
	text-transform: none;
}
.reveal .pdf-only {
	display: none;
}
.reveal .last-slide li {
	font-size:0.8em;
}
.reveal .last-slide ul {
	margin-top:2em;
}
.reveal .standalone-img {
	/*margin-top:1em;*/
}
.reveal span.ckeditor270, .reveal span.drupal270, .reveal span.mathjax270
{
	display:block;
	position:absolute;
	width:130px;
	height:30px;
	font-size: 1.2em;
	color:#999;
	transform: rotate(270deg);
	-ms-transform:rotate(270deg); /* IE 9 */
	-moz-transform:rotate(270deg); /* Firefox */
	-webkit-transform:rotate(270deg); /* Safari and Chrome */
	-o-transform:rotate(270deg); /* Opera */
}

.reveal span.mathjax270
{
	width:600px;
	bottom:0;
}
.reveal span.ckeditor270
{
	top:200px;
}
.reveal span.drupal270
{
	bottom:100px;
}
.reveal table.narrow span.action {
	margin-top:-25px;position:absolute
}
.reveal table.narrow td {
	padding-right:5px
}
.reveal table.narrow pre {
	margin:5px;
	width:100%;
}
tr.widget-action-row td {
	font-size:0.8em;
	padding-top:5px;
	padding-bottom:5px;
}
p.copyrights {
	font-size:0.5em;
}
.reveal h3 {
	text-transform:none;
	font-size: 2.11em;
}
ul.interface-list {
	margin-top: 1em;
}
ul.interface-list code, code.interface {
	display: block;
	padding: 0.2em;
	background-color: white;
}

code.hook {
	display: block;
	padding: 1em;
	background-color: white;
	margin-top: 1em;
	font-size: 0.9em;
}
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	src: local('Quicksand Regular'), local('Quicksand-Regular'), url(fonts/sKd0EMYPAh5PYCRKSryvWz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	src: local('Quicksand Bold'), local('Quicksand-Bold'), url(fonts/32nyIRHyCu6iqEka_hbKsnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: local('Open Sans Italic'), local('OpenSans-Italic'), url(fonts/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(fonts/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}
.reveal section.drupalcon {
	padding-top: 0;
	padding-bottom: 0;
}
.reveal section.drupalcon > div {
	width:960px;
	height:700px;
	background: rgba(0,0,0,0.4);
	position:relative
}
.reveal section.drupalcon h5 {
	color:#FFFFFF;
	width:100%;
	font-size:0.7em;
	position:absolute;
	bottom:0;
}
.reveal section.drupalcon h4 {
	color:#FFFFFF;
	width:100%;
	position:absolute;
	bottom:1em;
}
.reveal section.drupalcon .redbox {
	width:274px;
	height:60px;
	line-height:60px;
	margin: 0 auto;
	background-color:#EF272C;
	color:#FFFFFF;
	text-transform:uppercase;
	font-size: 0.55em
}
.reveal section.drupalcon .evaluate {
	width:700px;
}
.reveal ul.ghlinks {
	font-size: 0.8em;
}