@charset "UTF-8";

.reveal .addon-directory-structure iframe {
    display: none;
}
.reveal .addon-directory-structure img {
    display: block;
}
.reveal .pdf-only {
    display: block;
}
.reveal p.pdf-only + img {
    margin-top:0.5em;
}
.reveal .not-in-pdf {
    display: none !important;
}
.reveal .standalone-img {
    margin-top:0;
}
.reveal p,
.reveal small {
    word-wrap: break-word;
    visibility: visible;
    position: static;
    width: auto;
    height: auto;
    display: block;
    overflow: visible;
    margin: auto;
}
.reveal pre {
    font-size: 12pt;
}